APP_NAME=ReplyCenter
APP_ENV=local
APP_KEY=
APP_DEBUG=true

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=reply_center
DB_USERNAME=app
DB_PASSWORD=secret

QUEUE_CONNECTION=database
CACHE_STORE=array
SESSION_DRIVER=array
